<div>

  <div class="flex flex-col space-y-12 max-w-[1500px] mx-auto mt-20 group">
    <div class="text-white text-5xl"> {{genreName}} </div>
    <div class="flex flex-row relative items-center justify-center">
      <!--     Left Arrow-->

      <div (click)="sliderGoLeft()" class='opacity-0 group-hover:opacity-50 duration-500 absolute top-[50%] -translate-x-0 translate-y-[-50%] left-5 text-2xl rounded-full z-50 p-2 text-white cursor-pointer bg-white float-left '><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m13.707 4.707-1.414-1.414L3.586 12l8.707 8.707 1.414-1.414L6.414 12l7.293-7.293z"/><path d="m19.707 4.707-1.414-1.414L9.586 12l8.707 8.707 1.414-1.414L12.414 12l7.293-7.293z"/></svg>
      </div>
      <div (click)="sliderGoLeft()" class="opacity-0 group-hover:opacity-80 duration-500 absolute left-0 h-full w-20 bg-black z-40 cursor-pointer"></div>

      <!--     Right Arrow-->

      <div (click)="sliderGoRight()" class='opacity-0 group-hover:opacity-50 duration-500  absolute top-[50%] -translate-x-0 translate-y-[-50%] right-5 text-2xl rounded-full z-50 p-2 text-white cursor-pointer bg-white float-left '>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m11.707 3.293-1.414 1.414L17.586 12l-7.293 7.293 1.414 1.414L20.414 12l-8.707-8.707z"/><path d="M5.707 3.293 4.293 4.707 11.586 12l-7.293 7.293 1.414 1.414L14.414 12 5.707 3.293z"/></svg>
      </div>
      <div (click)="sliderGoRight()" class="opacity-0 group-hover:opacity-80 duration-500 absolute right-0 h-full w-20 bg-black/80 z-40 cursor-pointer"></div>

      <div #slider class="no-scroll flex relative flex-row items-center space-x-4 snap-x overflow-x-scroll overflow-y-hidden  scroll-smooth">

        <div  class="cursor-pointer flex-shrink-0 snap-start items-center justify-center" *ngFor="let movie of links.slice(0,10)">
          <img routerLink="/details/{{movie.id}}" [src]="api.generateImg(movie.poster_path)" alt="" class=" w-72 h-96 hover:scale-125 duration-300 inline-block ease-in-out ">
        </div>



      </div>
    </div>

  </div>
</div>
