<div class="flex flex-col relative max-w-7xl mx-auto bg-black">
    <div class="flex w-full relative md:mb-0 mb-[1300px]">
        <img
            src="{{
                'https://image.tmdb.org/t/p/original' + details.backdrop_path
            }}"
            alt=""
            class="w-full"
        />
        <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black via-black/95 to-black/60 z-10"
        ></div>
    </div>
    <div
        class="flex flex-col md:flex-row absolute md:left-20 md:top-20 md:right-20 left-4 top-4 right-4 h-full z-20"
    >
        <div class="md:w-1/3 xl:p-12 md:p-6 p-1">
            <img
                src="{{
                    'https://image.tmdb.org/t/p/original' + details.poster_path
                }}"
                alt=""
            />
        </div>
        <div
            class="flex flex-col space-y-5 md:w-2/3 text-white mx-auto xl:p-12 md:p-6 p-3 w-full"
        >
            <div class="text-7xl font-bangla text-center">
                {{ details.original_title }}
            </div>
            <div
                class="grid auto-cols-max md:grid-rows-1 grid-rows-2 gap-x-1 gap-y-3 grid-flow-col"
            >
                <button
                    class="bg-yellow-400 rounded-xl text-black py-1 font-bold flex w-fit px-10 text-sm"
                >
                    {{ details.vote_average }}
                </button>
                <button
                    *ngFor="let g of details.genres; let i = index"
                    class="bg-white rounded-xl text-black py-1 font-bold flex w-fit px-6 text-sm"
                >
                    {{ g.name }}
                </button>
            </div>

            <div class="text-xl">
                {{ details.overview }}
            </div>

            <div class="text-xl ">
                <span class="font-bold">Release Date </span>
                {{ details.release_date }}
            </div>
            <div class="text-xl">
                <span class="font-bold">Director : </span> {{ director }}
            </div>
            <div class="text-xl">
                <span class="font-bold ">Writer : </span> {{ writer }}
            </div>
            <div class="text-xl">
                <span class="font-bold ">Producer : </span> {{ producer }}
            </div>


        </div>


    </div>
    <div class="text-white text-xl p-12">
        <span class="font-bold"> Cast: </span>
        <div class="grid md:grid-cols-5 grid-cols-2 gap-4 mt-6">
            <span *ngFor="let cast of casts" class=""> {{cast}} </span>
        </div>

    </div>
</div>

